{%extends "staff/view_fooditems.html"%}
{%load static%}
{%block content%}
    <title>Edit Food</title>
<div class="container col-md-4 mx-auto p-3 mb-5 mt-5" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; border-radius: 10px;">
    <h1>Edit Food Item</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Food Name</label>
                    <input value="{{ food_item.name }}" type="text" name="name" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="price">Food Price</label>
                    <input value="{{ food_item.price }}" type="text" name="price" class="form-control">
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <label for="quantity_available">Quantity Available</label>
            <input value="{{ food_item.quantity_available }}" type="number" name="quantity_available" class="form-control">
        </div>
        
        <div class="form-group">
            <label for="image">Food Image</label>
            {% if food_item.image %}
                <img src="{{ food_item.image.url }}" alt="{{ food_item.name }}" class="img-fluid mb-3" style="height: 200px; width: 200px;">
            {% endif %}
            <input accept="image/*" type="file" name="image" class="form-control-file">
        </div>
        
        <button type="submit" class="btn btn-primary">Update Food</button>
    </form>
    
</div>    
{%endblock%}
