{%extends "signup.html"%}
{%load static%}
{%block content%}
    <style>
       

        .login-container {
            max-width: 400px;
            margin: auto;
            margin-top: 100px;
        }
    </style>
{% for message in messages %}
<div class="alert alert-danger alert-dismissible fade show" style="position: fixed; z-index: 90; right: 100px; top: 10px" role="alert">
    <strong>{{ message }} !!!</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}

{% for message in messages %}
    <div class="alert alert-success" role="alert" id="alertBox" style="width: 500px;">
        <h6>{{ message.message }}</h6>
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    </div>
{% endfor %}

    <div class="container login-container p-3 mb-5 mt-5" style="box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;">
        <h1 class="text-center mb-4">Staff Login</h1>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="text-center">
                <button type="submit" class="btn  " style="background-color: #bc8c4c; color: aliceblue;">Sign in</button><br><br>
                <p><a href="{%url 'index' %}" style="text-decoration: none; color: rgb(32, 20, 12);">Back to Home</a></p>
            </div>
        </form>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var closeButtons = document.getElementsByClassName("closebtn");
            for (var i = 0; i < closeButtons.length; i++) {
                closeButtons[i].addEventListener("click", function() {
                    this.parentElement.style.display = "none";
                });
            }
        });
    </script>    
{%endblock%}