{% extends "view_fooditems.html" %}
{% load static %}
{% block content %}
<style>
p{
  color: black;
}
</style>

<div class="container mt-5 mb-5">
  <h2 class="custom-h2">Canteen Notifications</h2>
  {% if notifications %}
    <p class="text-dark">Total Notifications: <span class="text-brown" style="color: brown; font-size: 20px;">{{ notifications|length }}</span> </p>
    <div class="row">
      {% for notification in notifications %}
        <div class="col-md-6">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">{{ notification.title }}</h5>
              <p class="card-text">{{ notification.message }}</p>
              <p class="card-text">Created at: {{ notification.created_at }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>No notifications available.</p>
  {% endif %}
</div>

{% endblock %}
