{% extends "view_fooditems.html" %}
{% load static %}

{% block content %}
<div class="container mt-5" style="height: 100vh;">
  <button id="pay-button" class="button  mt-2 razorpay" style="border: none; background-color: rgb(66, 183, 222); border-radius: 5px; padding: 5px;">
    <span>
        <img src="{%static '/imgs/razorpay.png' %}" height="30px" width="50px" alt="" class="me-2" style="margin-top: 10px; ">
        Pay Now
    </span>
</button>

  <h2>Your Booked Items</h2>
  {% if booked_items %}
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Food Item Name</th>
            <th>Price per Quantity</th>
            <th>Quantity Booked</th>
            <th>Total Price</th>
            <th>cancel</th>
          </tr>
        </thead>
        <tbody>
          {% for item in booked_items %}
            <tr>
              <td>{{ item.name }}</td>
              <td>{{ item.price }}</td>
              <td>{{ item.quantity_booked }}</td>
              <td>₹{{ item.total_price }}</td>
              <td>
                <a href="{% url 'delete_booking' item.food_id %}" class="btn btn-danger">Cancel Booking</a>
            </td>
              
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <p class="text-muted">You haven't booked any items yet.</p>
  {% endif %}
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    var options = {
        key: 'rzp_test_9tCOZuKLhiZdaM',
        amount: 500, // Amount in paise (50000 paise = ₹500)
        currency: 'INR',
        name: 'Demo Store',
        description: 'Payment for your order',
        image: 'https://example.com/logo.png', // URL of your store's logo
        order_id: '{{ razorpay_order_id }}', // Replace with your actual order ID
        callback_url: '{{ callback_url }}', // Replace with your actual callback URL
        prefill: {
            name: 'student',
            email: 'student@example.com'
        }
    };

    var rzp = new Razorpay(options);

    document.getElementById('pay-button').onclick = function () {
        rzp.open();
    };
</script>

{% endblock %}